# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
/dist/
/coverage/
/logs
*.log
*.lock
.vscode/
.idea/

# Dependency directories
jspm_packages/

# TypeScript compiled files
*.tsbuildinfo
*.tscache/

# C# 
bin/
obj/
*.user
*.suo
*.pdb
*.exe
*.dll
.vscode/
*.csproj.user

# ASP.NET
App_Data/
App_Code/
App_Browsers/
App_GlobalResources/
App_LocalResources/
App_WebReferences/
